{% load static from staticfiles %}
{% load navigation %}
{% load url from future %}


<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<title>{% block title %}Feedback App - Get Feedback. Be Better.{% endblock %}</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

        <link rel="stylesheet" type="text/css" media="all" href="{% static "css/libs/bootstrap.min.css" %}" />
        <link rel="stylesheet" type="text/css" media="all" href="{% static "css/main.css" %}" />
        {% block css %}{% endblock %}
	</head>
	<body>
		<header>
			<div style="float:right">
				{% get_navigation %}
			</div>
		</header>
		<section>
			{% block content %}{% endblock %}
		</section>
		<footer>
			<script type="text/javascript" src="{% static "js/libs/jquery-1.10.2.min.js" %}"></script>
			<script type="text/javascript" src="{% static "js/libs/bootstrap.min.js" %}"></script>
			{% block js %}{% endblock %}
		</footer>
	</body>
</html>