{% extends "base.html" %}
{% load humanize %}

{% block content %}
	<h1>{{ profile.company_name }} Dashboard</h1>

	{% if messages %}
		<div class="messages alert alert-success">
		    {% for message in messages %}
		    	{{ message }}
		    {% endfor %}
		</div>
	{% endif %}

	<div class="panel panel-default">
	  	<div class="panel-body">
			<p>Thanks for signing up! Get started by inviting people from your company. All we need are their email addresses. You can upload a CSV file, or enter them below. This will create your first campaign.</p>
			<a href="" class="btn btn-primary">Add People</a>
	  	</div>
	</div>

	<div class="panel panel-default">
	  	<div class="panel-body">
			<p>You are the administrator for this account, which means you can see everyones feedback; including requests for feedback and submitted feedback. If you'd like, you can assign more people with this administration role.</p>

			<a href="" class="btn btn-primary">Add Admins</a>
	  	</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">
	    	<h3 class="panel-title">Last Campaign</h3>
	  	</div>
	  	<div class="panel-body">
		<p>You do not have any campaigns</p>

		<h4>0 Feedback Requests</h4>
		<h4>0% Response</h4>

	  	</div>
	</div>	
{% endblock %}