{% extends "base.html" %}
{% load humanize %}

{% block content %}
	<h1>Dashboard</h1>

	{% if messages %}
		<div class="messages alert alert-success">
		    {% for message in messages %}
		    	{{ message }}
		    {% endfor %}
		</div>
	{% endif %}

	{% if feedback_requests %}
	<strong>Requests sent to:</strong>
    <ul>
	    {% for request in feedback_requests %}
	        <li>
	        	<strong>{{ request.name }}</strong><br />
	        	<strong>{{ request.email }}</strong>
	        	<div>
	        		<strong>On: </strong>{{ request.timestamp }}
	        	</div>	
	        	<div>
	        		<strong>Viewed: </strong>{{ request.viewed }}
	        	</div>	
	        	<div>
	        		<strong>Date Viewed: </strong>{{ request.viewed_date }}
	        	</div>		        	
	        	{% if request.invite %}
	        		<div>
	        			<strong>Invited:</strong>
			        	<ol>
			        		<li>{{ request.invite }}</li>
			        	</ol>	
			        </div>	
	        	{% endif %}
	        	<div>
	        		<strong>Questions: </strong>
	        		{% if feedback_questions %}
		        		<ol>
		        		{% for question in feedback_questions %}
		        			{% if question.request.id == request.id %}
		        			<li>{{ question.question }}</li>
		        			{% endif %}
		        		{% endfor %}	
		        		</ol>	
		        	{% endif %}
	        	</div>

	   	       	<div>
	        		<strong>URL:</strong>
	        		<a href="{% url 'feedback' %}{{ request.url }}">{% url 'feedback' %}{{ request.url }}</a>
	        	</div>     		
	        	<hr />
	        </li>
	    {% endfor %}
    </ul>
    {% else %}
    	<p>Thanks for signing up! To get started ask someone for feedback.</p> 
    	<a href="{% url 'feedback_request' %}" class="btn btn-primary">Request Feedback</a>
    {% endif %}
{% endblock %}