{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    
    {% if feedback_detail %}

	    {% for detail in feedback_detail %}

            <h1>{{ detail.name }}, please answer the following questions</h1>

                {% if feedback_questions %}
                    <form method="POST">
                        {% for question in feedback_questions %}
                            {% if question.request.id == request.id %}
                            <p>
                                <label>{{ question.question }}</label>
                                <textarea></textarea>
                            </p>
                            {% endif %}
                        {% endfor %}    
                        <input type="submit" value="Submit" />
                    </form>    
                    {% endif %}
	           {% endfor %}
    {% else %}
    	No feedback!
    {% endif %}
{% endblock %}
