{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<h1>Request Feedback</h1>
<form method="POST">{% csrf_token %}
    <div class="section">
        {{ request_form.as_p }}
    </div>
    {{ question_formset.management_form }}
    {% for form in question_formset.forms %}
    <div class="item">
      {{ form.as_p }}
      <p style=""><a class="delete" href="#">Delete</a></p>
    </div>
    {% endfor %}
    <p><a id="add" href="#">Add another item</a></p>
    <input type="submit" value="Send Invitation" />
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
 
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+-)');
        var replacement = prefix + '-' + ndx + '-';
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
        replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function deleteForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (formCount > 1) {

            $(btn).parents('.item').remove();
            var forms = $('.item');

            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            var i = 0;

            for (formCount = forms.length; i < formCount; i++) {
                $(forms.get(i)).children().children().each(function () {
                    if ($(this).attr('type') == 'text') updateElementIndex(this, prefix, i);
                });
            }
        }
        else {
            alert("You have to enter at least one question!");
        }
        return false;
    }

    function addForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        
        // Maximum of 20 questions 
        if (formCount < 20) {

            var row = $(".item:first").clone(false).get(0);
            $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);

            $(".errorlist", row).remove();
            $(row).children().removeClass("error");

            $(row).children().children().each(function () {
                updateElementIndex(this, prefix, formCount);
                $(this).val("");
                $(this).closest('label').text('Ask another question (e.g. What can I do better?):');

            });

            $(row).find(".delete").click(function () {
                return deleteForm(this, prefix);
            });

            $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
        }
        else {
            alert("Sorry, you can only enter a maximum of twenty questions.");
        }
        return false;
    }

    $("#add").click(function () {
        return addForm(this, "form");
    });

    $(".delete").click(function () {
        return deleteForm(this, "form");
    });
});
</script>

{% endblock %}