{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}

    <h2>Sign In</h2>

        {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
        {% endif %}         
    
        {% if field.errors %}
            <div class="alert alert-danger">{{ field.errors }}</div>
        {% endif %} 

    {% for field in form %}
       
        {% if field.name == 'remember_me' %}
            <p class="checkbox">
                <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
            </p>
        {% else %}
            <div class="row-fluid">
                {{ field.label_tag }}
                <div class="input">
                    {{ field }}
                </div>  
            </div>
        {% endif %}
    {% endfor %}
    <div class="row-fluid">
        <input type="submit" value="{% trans "Signin" %}" />
    </div>
        
    <p class="forgot-password"><a href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a></p>
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
</form>
{% endblock %}
